* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px 0;
}

/* Navbar */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    display: flex;
    max-width: 1200px;
    margin-left: 0 auto;
    padding: 0;
}


.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

/* Container */
.main-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Contenido principal */
.content {
    flex: 3;
    padding: 20px;
    background-color: #f9f9f9;
}

/* Barra lateral */
.sidebar {
    flex: 1;
    padding: 20px;
    background-color: #e0e0e0;
    border: 1px solid #ddd;
}

/* Pie de página */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
}